* {
    margin: 0;
    padding: 0;
}

body {
    background: wheat;
}

header,
nav {
    background: rgb(244, 232, 210);
}



#ingresar_sede {
    height: 50px;
    margin-top: 40px;
    padding: 5px;
    width: 20%;
    margin-left: 77%;
    margin-right: 3%;
}

.lista_sedes {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin-top: 30px
}

.lista_sedes ul {
    width: 90%;
    height: 200px;
    list-style: none;
    text-align: center;
    margin: 15px;
    background: rgb(186, 213, 213);
}

.lista_sedes li {
    padding: 5px;
    font-size: x-large;
}

#sedes ul:hover {
    margin: 10px;
}

#editar,
#borrar {
    width: 40%;
    margin: 5%;
    height: 20px;
    padding: 0;
    font-size: small;
    background: rgb(160, 194, 194);
}

#editar:hover,
#borrar:hover {
    background: rgb(120, 146, 146);
    color: wheat;
}

#editar_sede{
    position:absolute;
    width: 100%;
    
}

.editar_sede{
    width: 450px;
    margin: auto;
    background:rgb(249, 239, 220);
    border-style: double;
    border-radius: 7px;
    
}
.editar_sede h3{
    margin: 3%;
}
#form_editar #boton{
    width: 40%;
    margin:2% 30%;

}
#form_editar{
    width: 100%;
    padding:3%;
    box-sizing: border-box;
}
#form_editar input{
    width: 100%;
    margin-bottom: 25px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

#form{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background: linear-gradient(90deg, rgb(131, 190, 235, 0.5), rgba(3, 2, 2, 0.5));
    padding: 3%;
    box-sizing: border-box;

}

input {
    width: 95%;
    margin-bottom: 25px;
    padding: 10px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

#boton {
    background-color: rgb(63, 87, 114);
    color: white;
    position: relative;
    padding: 10px;
    width: 50%;

}

a {
    text-decoration: none;
}

#boton:hover {
    cursor: pointer;
    background: rgb(34, 47, 61);
}




@media (max-width:600px) {
    .lista_sedes {
        grid-template-columns: repeat(2, 1fr);
    }
}