* {
    margin: 0;
    padding: 0;
}

body {
    background: wheat;
}

header,
nav {
    background: rgb(244, 232, 210);
}



#ingresar_sede {
    height: 30px;
    margin-top: 40px;
    padding: 5px;
    width: 20%;
    margin-left: 77%;
    margin-right: 3%;
}

#sedes ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 30px
}

#sedes li {
    width: 90%;
    height: 200px;
    list-style: none;
    text-align: center;
    margin: 15px;
    background: rgb(186, 213, 213);
}

#sedes li:hover {
    margin: 10px;
}



form {
    width: 50%;
    position: absolute;
    margin-left: 25%;
    background: linear-gradient(90deg, rgb(131, 190, 235, 0.5), rgba(3, 2, 2, 0.5));
    padding: 3%;
    box-sizing: border-box;

}

input {
    width: 100%;
    margin-bottom: 25px;
    padding: 15px;
    box-sizing: border-box;
    font-size: 17px;
    border: none;
}

#boton {
    background-color: rgb(63, 87, 114);
    color: white;
    padding: 20px;
}

#boton:hover {
    cursor: pointer;
    background: rgb(34, 47, 61);
}